@tailwind base;
@tailwind components;
@tailwind utilities;

.react-simple-star-rating {
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-start !important;
    align-items: center !important;
    gap: 50px; /* Optional spacing between stars */
  }